.watch-card {
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .watch-face {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url('https://thumbs.dreamstime.com/b/flor-grande-en-colores-pastel-97508652.jpg'); 
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .clock {
    font-size: 2em; 
    font-weight: bold;
    color: #333;
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  
  ion-header {
    ion-toolbar {
      --background: #3880ff;
    }
  }
  