<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="body-container">
      <ion-card class="watch-card">
        <ion-card-header>
          <ion-title class="ion-text-center">Hora Actual</ion-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <div class="watch-face">
            <ion-label class="clock">{{ currentTime }}</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>
